@import "sources/components/styles-common/colors-pallete";

$footer-height: 40px;
$footer-margins: 7px;

.app > ul.footer-container {
  padding: 0;
  margin: 0;
  height: $footer-height;
  line-height: $footer-height;
  background-color: $header-footer-background-color;
  color: $header-footer-text-color;
  display: inline-flex;
  justify-content: space-around;
  flex-direction: row;
  justify-items: baseline;

  svg {
    margin: $footer-margins;
    height: $footer-height - 2*$footer-margins;
    fill: $header-footer-text-color;
  }

  li {
    width: 100px;
    display: inline-flex;
    min-width: 50px;
    text-align: right;
    justify-content: space-around;
    vertical-align: baseline;

    &.copyright-block {
      display: inline;
      font-family: "Courier New", serif;
      min-width: max-content;
    }

    &:nth-child(1),
    &:last-child {
      padding-right: 2 * $footer-margins;
      padding-left: 2 * $footer-margins;
      width: 100%;
    }

    &:not(.copyright-block):hover {
      color: $header-footer-text-hovered-color;

      svg {
        transform: scale(1.1);
        fill: $header-footer-text-hovered-color;
      }
    }
  }
}
