* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.react-app {
  height: 100%;
  width: 100%;
  min-height: 500px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
