.navigation-menu {
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  color: azure;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  justify-items: baseline;

  > .navigation-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.85);
    color: blanchedalmond;
    text-decoration: underline;
  }

  li {
    display: inline-flex;
    min-width: 100px;
    width: 150px;
    text-align: center;
    justify-content: space-around;
    vertical-align: baseline;
    height: 50px;
    line-height: 50px;

    &.empty-space {
      width: 100%;
    }

    &:first-child {
      width: 400px;
    }

    &:last-child {
      width: 96px;
      min-width: 64px;
      display: inline;
    }
  }
}

.lang-icon svg {
  display: inline;
  width: 32px;
  height: 16px;

  &:hover {
    width: 34px;
    height: 17px;
  }
}

.hover-switcher .hover-switcher--on,
.hover-switcher:hover .hover-switcher--off {
  display: none;
}

.hover-switcher:hover .hover-switcher--on {
  display: inline;
}
