@import "sources/components/styles-common/colors-pallete";

$header-height: 40px;

.navigation-menu {
  margin: 0;
  padding: 0;
  height: $header-height;
  background-color: $header-footer-background-color;
  color: $header-footer-text-color;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  justify-items: baseline;

  > .navigation-menu-item {
    border-radius: 15px;
  }

  > .navigation-menu-item:hover {
    background-color: $header-footer-item-background-hovered-color;
    color: $header-footer-text-hovered-color;
    text-decoration: underline;
  }

  li {
    display: inline-flex;
    min-width: 100px;
    width: 150px;
    text-align: center;
    justify-content: space-around;
    vertical-align: baseline;
    height: $header-height;
    line-height: $header-height;

    &.empty-space {
      width: 100%;
    }

    &:first-child {
      width: 400px;
      padding-left: 10px;
      padding-right: 10px;
      min-width: max-content;
    }

    &:not(.empty-space):hover {
      cursor: pointer;
    }
  }
}
