@import "sources/components/styles-common/colors-pallete";

.switcher {
  line-height: initial;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  position: relative;

  &__selected {
    border-radius: 5px;
    padding: 10px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-self: center;
  }

  &__selected:hover {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.7);
  }

  &__selected-arrow {
    width: 30px;
    fill: $header-footer-text-color;
    align-self: center;

    &.down {
      transform: rotate(90deg);
      transition-duration: 200ms;
    }

    &.right {
      transform: rotate(0deg);
      transition-duration: 200ms;
    }
  }

  &__selected-icon {
    width: 40px;
  }

  &__switcher-menu {
    background-color: $header-footer-item-background-hovered-color;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
    //line-height: 20px;
    top: 40px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 1;
  }
}

.switcher-menu-item {
  padding: 10px;
  color: white;
  position: unset;
  display: flex;
  width: 80px;
  height: 20px;

  &__code {
    text-transform: uppercase;
    width: 50%;
  }

  &__icon {
    width: 50%;
  }

  &:hover {
    background-color: rgba(100, 100, 100, 0.5);
  }
}
